mdc-app-bar, mdc-drawer-spacer {
  margin-left: -10px;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.alt-title {
  color: black;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}