mdc-app-bar, mdc-drawer-spacer {
  margin-left: -10px;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.alt-title {
  color: black;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

mdc-menu {
  margin-top: 5px;
}

.search-bar {
  position: relative;
  top: 50px;
}

mdc-text-field {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  margin-right: 5px;
}