<mdc-app-bar [fixed]="true" [dense]="true" [mdc-elevation]="6">
  <mdc-app-bar-row>
    <mdc-app-bar-section [align]="'start'">
      <mdc-icon mdcAppBarNavIcon class="material-icons md-light" (click)="(drawer.isOpen() ? drawer.close() : drawer.open());">menu</mdc-icon>
      <mdc-app-bar-title class="title">{{title}}</mdc-app-bar-title>
    </mdc-app-bar-section>
    <mdc-app-bar-section [align]="'end'">
      <mdc-icon mdcAppBarActionItem class="material-icons md-light" aria-label="Search" alt="Search" (click)="isOpen=!isOpen">search</mdc-icon>
      <mdc-menu-anchor #extra>
        <mdc-icon mdcAppBarActionItem class="material-icons md-light" aria-label="Extra" alt="Extra" (click)="extramenu.open()">more_vert</mdc-icon>
      </mdc-menu-anchor>
    </mdc-app-bar-section>
  </mdc-app-bar-row>
</mdc-app-bar>

<mdc-drawer [drawer]="'temporary'" [closeOnClick]="false" [fixedAdjustElement]="routerOutlet" #drawer>
  <mdc-drawer-header #drawerHeader>
    <mdc-drawer-header-content class="title"></mdc-drawer-header-content>
  </mdc-drawer-header>
  <mdc-drawer-content></mdc-drawer-content>
</mdc-drawer>

<mdc-menu #extramenu [anchor]="extra" [anchorCorner]="'bottom-start'">
  <mdc-menu-item>Item 1</mdc-menu-item>
  <mdc-menu-item>Item 2</mdc-menu-item>
  <mdc-menu-item>Item 3</mdc-menu-item>
  <mdc-menu-divider></mdc-menu-divider>
  <mdc-menu-item>Item 4</mdc-menu-item>
</mdc-menu>

<form [formGroup]="searchForm" class="search-bar" [hidden]="!isOpen" background="true">
  <mdc-text-field [outline]="true" formControlName="searchField" [label]="'Search'" background>
    <mdc-icon trailing clickable>search</mdc-icon>
  </mdc-text-field>
</form>
