.center {
  padding: 10px;
  max-width: 400px;
  position: relative;
  top: 15%;
  margin: auto;
}

.text-box {
  width: 100%;
}

.text-box > mdc-icon {
  margin-right: -15px;
  margin-bottom: -10px;
}

.clear-bg {
  background: unset;
}

.link {
  text-decoration: unset;
}

.profile {
  pointer-events: none;
  width: 150px;
  height: 150px;
  position: relative;
  left: 30%;
  margin: auto;
}

.profile > mdc-icon {
  font-size: 165px;
}

.google{
  background-color: #F4521E;
}

.google > img {
  width: 64px;
  height: 64px;
}

.error-text {
  color: #FF0000 !important;
}

.top-center {
  margin-top: 10px;
}

@media(max-width: 320px) {
  .profile {
    pointer-events: none;
    width: 150px;
    height: 150px;
    position: relative;
    left: 25%;
    margin: auto;
  }

  .small-font {
    margin-top: 10px;
    font-size: 14px;
  }
}
