<div class="container">
  <div class="center">
    <button mdc-fab class="profile">
      <img src="/assets/blank-profile-picture.jpg" alt="Profile" style="height: 150px; width: 150px;" />
    </button>
    <form [formGroup]="form">
      <mdc-text-field class="text-box" [outline]="true" formControlName="email" [label]="'Email ID'">
        <mdc-icon trailing>account_box</mdc-icon>
      </mdc-text-field><br/>
      <mdc-text-field class="text-box" [outline]="true" type="password" formControlName="password" [label]="'Password'" *ngIf="!visible">
        <mdc-icon trailing clickable (click)="visible=!visible">visibility</mdc-icon>
      </mdc-text-field>
      <mdc-text-field class="text-box" [outline]="true" type="text" formControlName="password" [label]="'Password'" *ngIf="visible">
        <mdc-icon trailing clickable (click)="visible=!visible">visibility_off</mdc-icon>
      </mdc-text-field><br/>
      <mdc-toolbar class="form-btn">
        <mdc-toolbar-row>
          <mdc-toolbar-section [alignStart]="true">
            <button mdc-button [primary]="true" [raised]="true" (click)="signin()">Sign in</button>
          </mdc-toolbar-section>
          <mdc-toolbar-section>
            <span class="small-font top-center">OR Signin with</span>
          </mdc-toolbar-section>
          <mdc-toolbar-section [alignEnd]="true">
            <button mdc-button  class="google" [primary]="true" [raised]="true" (click)="googleSignin()">
              <img src="/assets/google_logo.png" alt="Google" style="height: 32px; width: 90px;" />
            </button>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
    </form>
    <mdc-toolbar class="form-btn">
      <mdc-toolbar-row>
        <mdc-toolbar-section>
          Don't have an account? Signup&nbsp;<a class="link" routerLink="/signup">here.</a>
        </mdc-toolbar-section>
      </mdc-toolbar-row>
    </mdc-toolbar>
  </div>
</div>
