<div class="container">
  <div class="center">
    <button mdc-fab class="profile indigo600Fab">
      <mdc-icon class="material-icons md-light btn-add">camera_alt</mdc-icon>
    </button>
    <form [formGroup]="form">
      <mdc-text-field type="email" class="text-box" [outline]="true" formControlName="email" [label]="'Email ID'"></mdc-text-field><br/>
      <mdc-text-field type="text" class="text-box" [outline]="true" formControlName="name" [label]="'Name'"></mdc-text-field><br/>
      <mdc-text-field type="text" class="text-box" [outline]="true" formControlName="mobile" [label]="'Mobile'"></mdc-text-field><br/>
      <mdc-text-field appShowHidePassword class="text-box" [outline]="true" formControlName="password" [label]="'Password'">
        <mdc-icon trailing clickable>visibility</mdc-icon>
      </mdc-text-field>
      <mdc-text-field appShowHidePassword class="text-box" [outline]="true" formControlName="cnfpassword" [label]="'Confirm Password'">
        <mdc-icon trailing clickable>visibility</mdc-icon>
      </mdc-text-field>
      <mdc-toolbar class="form-btn">
        <mdc-toolbar-row>
          <mdc-toolbar-section [alignStart]="true"></mdc-toolbar-section>
          <mdc-toolbar-section>
            <button mdc-button [primary]="true" [raised]="true" (click)="signup()">Sign up</button>
          </mdc-toolbar-section>
          <mdc-toolbar-section [alignEnd]="true"></mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
    </form>
  </div>
</div>
