.center {
  padding: 10px;
  max-width: 400px;
  position: relative;
  top: 1%;
  margin: auto;
}

.text-box {
  width: 100% !important;
}

.text-box > mdc-icon {
  margin-right: -15px;
  margin-bottom: -10px;
}

.clear-bg {
  background: unset;
}

.align {
  margin-top: 15px;
}

.error-text {
  color: #ff0000 !important;
}

.img-align {
  margin-bottom: -5px !important;
  margin-right: 10px !important;
}

.txt-align {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.profile-out {
  pointer-events: none;
  width: 150px;
  height: 150px;
  position: relative;
  left: 30%;
  margin: auto;
  z-index: -1;
}

.profile-in {
  pointer-events: none;
  width: 135px;
  height: 135px;
  position: relative;
  margin: auto;
}

.profile-in > mdc-icon {
  font-size: 150px;
}

.btn-add {
  z-index: 1;
  position: absolute;
  margin: auto;
  left: 75px;
  right: 0px;
  top: 0px;
  bottom: 425px;
}

@media(max-width: 320px) {
  .profile-out {
    pointer-events: none;
    width: 150px;
    height: 150px;
    position: relative;
    left: 25%;
    margin: auto;
    z-index: -1;
  }
}
