/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
$lime-primary: mat-palette($mat-lime, 800);
$lime-accent: mat-palette($mat-yellow, 400);
$lime-warn: mat-palette($mat-red, 500);
$lime-theme: mat-light-theme($lime-primary, $lime-accent, $lime-warn);
@include angular-material-theme($lime-theme);

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.7); }

$mdc-theme-primary: #9E9D24;
$mdc-theme-secondary: #FFEE58;
$mdc-theme-background: #E6EE9C;
$mdc-theme-surface: rgb(161, 167, 82);
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-on-secondary: #000000;
$mdc-theme-on-surface: #eeeac3;
$mdc-theme-text-hint-on-light: #000000;
$mdc-theme-text-hint-on-dark: #FFFFFF;

@import "~@angular-mdc/theme/material";

* {
  font-family: 'Segoe UI';
}

a, button, mat-icon {
  cursor: pointer;
}
